aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/altgraph-0.17.2-py2.py3-none-any.whl
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.1.0
black==20.8b1
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.4
dnspython==2.0.0
email-validator==1.1.1
fastapi==0.61.1
flake8==3.8.4
Flask==2.3.3
frozenlist==1.4.0
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/future-0.18.2-py3-none-any.whl
h11==0.11.0
httptools==0.1.2
idna==2.10
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/macholib-1.15.2-py2.py3-none-any.whl
MarkupSafe==2.1.3
mccabe==0.6.1
motor==2.3.0
multidict==6.0.4
mypy-extensions==0.4.3
mysql==0.0.3
mysql-connector-python-rf==2.2.2
mysqlclient==2.1.1
pathspec==0.8.0
pip-tools==5.3.1
pycodestyle==2.6.0
pydantic==1.7
pyflakes==2.2.0
PyJWT==2.8.0
pymongo==3.11.0
python-dotenv==0.14.0
pytz==2023.3.post1
PyYAML==5.3.1
regex==2020.10.23
requests==2.31.0
six @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/six-1.15.0-py2.py3-none-any.whl
starlette==0.13.6
toml==0.10.1
twilio==8.7.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==2.0.4
uvicorn==0.12.2
uvloop==0.17.0
watchgod==0.6
websockets==8.1
Werkzeug==2.3.7
yarl==1.9.2
zipp==3.16.2
